html {
  background-color: #FAF5EB;
}

p {
  font-family: URW DIN;
}

h1 {
  font-family: DIN Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.headline{
font-weight: bold;
font-size: 48px;
color: #2C358F;
}

.homepageparagraph{
  font-size: 20px;
  color: #000000;
}

